.variantCard {
    width: 90px;
    background: #000;
    height: 90px;
    position: relative;
    border: 1px solid #000;
    border-radius: 5px;
}
.variantImg {
    height: 100%;
    width: 100%;
    background: #ddd;
}
.variantDetails {
    position: absolute;
    bottom: 50%;
    left: 105%;
    border-radius: 5px;
    background: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    opacity: 0;
}
.variantDetails::before {
    position: absolute;
    content: "";
    left: -7px;
    top: 50%;
    width: 15px;
    height: 15px;
    transform: translateY(-50%) rotate(-135deg);
    background: green;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.variantCard:hover .variantDetails {
    opacity: 1;

}
.variantName {
    font-size: 0.8rem;
}
.variantInfo {
    font-size: small;
}
.container {
    padding: 0.3em;
    /* border-radius: 5px; */
    border: 3px solid orange;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.variantList {

}